---
layout: page
---

<h1>Projects Undertaken</h1>
<!-- <ul>
{% for project in site.data.projects %}
  <li>
    <h3>{% if project.link %}<a href="{{ project.link }}">{{ project.title }}</a>{% else %}{{ project.title }}{% endif %}</h3>
    {{ project.content }}
    {% if project.github or project.categories %}
    <ul class="metadata">
      {% if project.github %}<li><a href="{{ project.github }}">GitHub</a></li>{% endif %}
      <li>{{ project.categories | join:', ' }}</li>
    </ul>
    {% endif %}
  </li>
{% endfor %}
</ul> -->

{% for topic in site.project %}
  <li>
    <a href="{{ topic.url }}">{{ topic.title}}</a>
  </li>
{% endfor %}
<!-- <ul>
{% for project in site.data.projects %}
  <li>
    <a href="{{site.baseurl}}{{ project.github }}">
      {{ project.name }}
    </a>
  </li>
{% endfor %}
</ul> -->

